/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

nav a:hover {
  color: hotpink;
}

.footer {
  background-color: #555;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: white;
  font-size: 11px;
}

/* DEFAULT STYLES */
.App {
  /*text-align: center;*/

}


.App-header {
  background-color: #222;
  padding: 1em 0 1em 0.5em;
  color: white;
  text-align: left;
  margin-bottom:2em;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.welcome {
	margin:0;
}
.container {
	
}