/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  /*bottom*/
  position: fixed;
  bottom: 0;
  z-index: 2;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  /*color: white;*/
  color:#333;
  cursor: pointer;
}

nav a:hover {
  color: hotpink;
}

.footer {
  background-color: #555;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: white;
  font-size: 11px;
}

/* DEFAULT STYLES */
.App {
  /*text-align: center;*/
  padding-bottom: 10px;

}
.App-header {
  /*background-color: #222;*/
  /*color: white;*/
  background-color: white;
  color:#333;
  padding: 1em 0 1em 0.5em;
  text-align: left;
  margin-bottom:2em;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.push {
    margin-left: auto;
}
.App-intro {
  font-size: large;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 20vmin;
  pointer-events: none;
  margin: .5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.welcome {
	margin:0;
}
.container {
	
}
.weekContainer{
	/*max-height:100%;*/
	height: 82vh;
	/*border:1px solid blue;*/

}
.weekRow {
	/*border:1px solid red;*/
	height:12vh;
	border-radius: 0;
	/*margin-top:.5vh;*/
}
.weekRow .card-header{
	padding:.1rem 1rem;
	border-bottom: 0;
}
.weekRow .card{
	border:1px solid green;
}
.sideways {
	transform:rotate(-90deg);
}
.row .col {
	padding:0;
	/*background-color:blue;*/
}

.weekRow .card-body{
	padding: 0;
	margin: 0;
}
.hourCell{
	background-color: hotpink;
	height: 5rem;
}

.profileImg{
	width: 50px;
	height: 50px;
	border:1px solid grey;
}
h1, h2, h3, h4, h5, h6, a, button, p, div{
	
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Quicksand', sans-serif;

}
.center {
	text-align: center;;
}
.loginCenter{
	background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding:0;
} 
.loginCard {
/*	margin-top: -1.6em;*/
}
.signUpCard {
/*	margin-top: -1.6em;*/
	width:90%;
}
.loginSingUp {
	color:#555;
}

.loginSingUp a {
	color: #61dafb;
}
.inlineStuff{
	display: inline;
	line-height: 2.5em;
}
.thin{
	font-weight: 100;
}
.tall{
	line-height: 2.5em;
}
.failedLogin{
	color:red;
	margin:0;
	line-height: 1em;
	text-align: right;
}
.normalLogin{

}
.clientCard{
	margin-top: 1em;
	margin-bottom:1em;
}
.stylistCard {
	margin-top: 1em;
	margin-bottom:1em;
	/*background-color: #ffefff;*/
	/*background-color: white;*/
}
.hotPink{
	background-color: hotpink;
	color: white;
	border:1px solid pink;
}
.backLogin{
	margin-bottom: 2em;
	font-size: .8em;
	color:hotpink;
	
}

/****************STUFF JUSTIN ADDED****************/

.day {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 48em;
	background-color: lightgrey;
}

.slots {
	display: inline-block;
	width: 85%;
	height: 2em;
}

.timeSlot {
	height: .5em;
	width: 100%;
	background-color: #eeeeee;
}

.timeSlotH {
	display: inline-block;
	height: 100%;
	width: 1%;
	background-color: #ffffff;
}

.time {
	display: inline-block;
	width: 15%;
	height: 2em;
	border: .05px solid #eeeeee;
	background-color: pink;
}

.hour {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.hourSlot {
	display: inline-block;
	font-size: 12px;
	color: white;
}

.booked {
	height: .5em;
	width: 100%;
	color: white;
	background-color: skyblue;
}

.bookedH {
	display: inline-block;
	height: 100%;
	width: 1%;
	background-color: skyblue;
}

.unavailable {
	height: .5em;
	width: 100%;
	color: white;
	background-color: lightgrey;
}

.unavailableH {
	display: inline-block;
	height: 100%;
	width: 1%;
	background-color: lightgrey;
}

.slotBlock {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 2em;
	background-color: #eeeeee;
}

.alert {
	color: red;
	text-align: right;
}

.nameIndex {
	z-index: 4000;
}

.profilePic {
	max-width:100%;
}


